<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_Leap_project"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".Resetpass"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.Tech_DISCOVERED" />
            </intent-filter>

            <meta-data

                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter"/>
        </activity>
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="@string/app_name"
            android:process="global.Here.Map.Service.v2"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService" >
                </action>
            </intent-filter>
        </service>
        <meta-data android:name="com.here.sdk.access_key_id" android:value="irT5QiVdDygJwNf_ENt2lg" />
        <meta-data android:name="com.here.sdk.access_key_secret" android:value="wojiJHNJmqGG4Ic7Lczu9jHKylAxXikds8xkrQh_HobYXqPjprEOCjPcCizcOMuJfOJgtEcMx75K2SOGkYNb6w" />

        <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAvJo_gRhEEHdD6guDdjKWK6Q8wmMwt5Ew"/>

    </application>

</manifest>